@CHARSET "UTF-8";

@media only screen and (max-width:1150px) {
	.grid td.gallery {
		width: 30.4%;
	}
}
@media only screen and (max-width: 1150px) and (min-width: 961px) {
    #it--footer:before {
        height: 100px;
        background-size: 30%;
        width: 98%;
    }
    
    #it--footer:after {
        height: 50px;
    }
    .stBadge::after {
        background-position: 850px;
    }
    
    #storercp::after {
        background-position: 650px;
    }
}
@media only screen and (max-width: 960px)  and (min-width: 480px) {
    
    #it--content .content-wrapper {
        flex-flow: column-reverse;
        justify-content: flex-start;
    }
    #it--content .left {
        float: none;
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
    #it--content .right {
        float: none;
        width: 100%;
    }
    #it--content .image {
        text-align: left;
    }
    #it--content .image img {
        max-width: 70%;
        min-width: 70%;
    }
    #it--footer:before {
        height: 145px;;
        background-size: 30%;
        width: 98%;
    }
    
    #it--footer:after {
        height: 50px;
    }
    .stBadge::after {
        background-position: 850px;
    }
    
    #storercp::after {
        background-position: 660px;
    }
}
@media only screen and (max-width:479px) {

	.it--logo {
		background-position: center;
        left: 0;
        
	}

	.it--logo,
	#it--footer .it--logo  {
		width: 100%;
		height: 70px;
		float: none;
		position: relative;
		margin-bottom: 20px;
		background-position: center;
        padding-left: 0;
	}
	#it--header .it--slogan {
		position: relative;
		left: auto;
		top: auto;
		text-align: center;
        margin-top: 0;
        font-size: 18px;
	}

	#it--logo {
		background-position: center;
	}

	#it--content .image {
		margin-top: 0;
	}

	#it--footer .it--description {
		width: 100%;
		text-align: center;
	}

	body {
		margin: 0;
		padding: 3%;
	}
    #it--content .content-wrapper {
        flex-flow: column-reverse;
        justify-content: flex-start;
    }
    #it--content .left {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    #it--content .right {
        float: none;
        width: 100%;
    }
	#it--content .left {
		margin-right: 0;
	}
    #it--footer:before {
        display: none;
    }
    
    #it--footer:after {
        height: 50px;
        background-image: url(https://raw.githubusercontent.com/zetomad/ebay_product_style/master/img/copyright_best78.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
    }
    .stBadge::after {
        background-position: 850px;
    }
    
    #storercp::after {
        background-position: 650px;
    }
}
