@CHARSET "UTF-8";

@import url("../../responsive.css");

body {
    background: #f8f8f8;
}

.it--slogan:before {
content: "";
}
.it--description:before {
content: "";
}
.it--logo {
    background-image: url(https://statictmpl.i-ways.net/img/ebay_fashion/57308/49fd998652c1ec966f93bc3d517a9f01.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.it--banner {
    background-image: url(https://statictmpl.i-ways.net/img/ebay_fashion/57308/8ae20adbe304fc45deb19c92f63db32a.jpg);
    background-repeat: no-repeat;
    background-color: #e6e6e6;
}

.it--wrapper {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0 30px;
    margin-bottom: 40px;
}
#it--header .it--wrapper,
#it--footer .it--wrapper {
border-top: solid 10px #9dabbf;
}
#it--header .it--wrapper {
    padding-bottom: 20px;
    min-height: 100px;
}

.it--logo {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    padding-left: 20px;
    background-position: 20px center;
    background-size: auto 75%;
}

#it--header .it--slogan {
    position: absolute;
    left: 300px;
    top: 30%;
    font-size: 20px;
    line-height: 20px;
    margin-top: -10px;
}
#it--content .title {
    text-transform: uppercase;
    font-size: 24px;
    margin-left: 10px;
}

.it--banner {
    height: 550px;
    display: block;
}

#it--header .it--banner {
    display: none;
}

#it--header .it--description {
    display: none;
}

#it--content .attributes table {
    width: 100%;
    text-align: left;
    font-size: 90%;
}

#it--content .attributes th,
#it--content .attributes td {
    padding: 2px;
}
#it--content .attributes th {
    background: #f2f2f2;
}
#it--content .attributes td {
    border-bottom: 1px solid #ddd;
}
#it--content .attributes tr td:first-child {
    width: 60%;
}
#it--content .attributes tr:last-child td {
    border: none;
}
#it--content .content-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#it--content .left {
    margin-left: 10px;
    margin-right: 0;
}

#it--content .right {
    text-align: right;
}

#it--content .image {
    margin-top: 0px;
    width: auto;
    height: 400px;
    text-align: center;
}
#it--content .image img {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}
#it--footer .it--logo {
    float: right;
    width: 200px;
    height: 60px;
    position: relative;
    top: 5px;
    background-position: right center;
    display: none;
}
#it--footer .it--slogan {
    display: none;
}
#it--footer .it--description {
    margin-top: 20px;
    width: 50%;
    font-size: 80%;
}
#it--footer:before {
    content: ' ';
    background-image: url(/zetomad/ebay_product_style/master/img/copyright_best78.png);
    width: 97%;
    height: 150px;
    background-size: 25%;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: absolute;
}
#it--footer:after {
    content: ' ';
    background-color: #b3b2b2;
    width: 100%;
    height: 70px;
    display: block;
    background-position: 20px;
}

.pagecontainer > table {
    padding: 20px;
}
table.v4acpcont {
    background: #fff;
    margin-bottom: 0;
    padding: 10px 20px 20px;
border-top: 2px solid #9dabbf;
}

.pagecontainer #it--header .it--banner {
    display: block;
}

.pagecontainer .it--logo {
    background-color: rgba(0,0,0,.2);
}
.pagecontainer #it--header .it--slogan {
    width: 25%;
    left: 20px;
}
.v4acp_head .v4accent,
.v4mid .ttl {
    display: none;
}
table.v4midBox{
    border: none;
}
table.v4acp tr.v4acp_head td.v4title {
    background: #fff;
    color: #000;
    display: block;
    padding: 5px 0;
}
table.v4midBox tr.v4acp_mid td.v4mid {
    background: #fff;
    padding: 0;
}
table.v4clp td ul {
    margin: 0;
}
body a:link, body .g-novisited a:visited,
.v4mid a {
    color: #000;
    font-weight: normal;
}
table.v4clp td {
    padding-top: 0;
}
.v4mid li {
    margin: 2px 0;
    list-style: none;
}
.v4acp font {
    color: #000;
}
.r3_t i, .r3_bl i,
.r3_hm, .r3_c, .r3_s {
    border: none;
}
.ctrlbr {
    border: none;
    padding: 10px 0;
    margin-top: -1.5em;
}
td#CentralArea span.pdmt {
    float: right;
    padding: 0;
}
span.pdmt .cur {
    color: #000;
border: 1px solid #9dabbf;
height: 20px;
line-height: 20px;
font-weight: normal;
display: inline-block;
padding: 0 5px;
}

.grid td.left,
.rs_box,
td#CentralArea div.dynpg {
    border: none;
}
span.pdmt:after {
    display: inline-block;
    content: '⌄';
    width: 22px;
    height: 22px;
    line-height: 19px;
background: #9dabbf;
color: #fff;
text-align: center;
font-weight: normal;
vertical-align: top;
font-size: 14px;
}
.fpcc .countClass {
    color: #000;
    font-size: 14px;
    font-weight: normal;
}

table.gallery td.details {
    border-top: 1px solid #ddd;
}

.grid {
    text-align: right;
}

.grid td.gallery {
    display: inline-block;
    padding: 7px 0 7px 20px;
    width: 31%;
    vertical-align: top;
    position: relative;
    text-align: left;
}
table.gallery {
    height: 330px;
    background: #fff;
    position: relative;
    display: block;
}
.grid td.gallery:first-child {
    margin-left: 0;
}

table.gallery td.picture div.image a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 10;
}

.ttl.g-std {
    padding: 5px 0;
}
.bin.g-b, .bid.g-b {
    font-size: 120%;
    font-weight: bold;
    position: absolute;
    text-align: right;
    width: 40%;
    right: 15px;
    bottom: 10px;
}

.bin {
    width: 30%;
    position: absolute;
    right: 0px;
}

.ttl.g-std a {
    color: #000;
    font-size: 110%;
}
.picture.camera .image {
    width: 100%;
}
.picture.camera .image img {
    max-width: 100%;
    max-height: 150px;
}
#it--content .image img {
    max-width: 100%;
    min-width: 90%;
}
#it--footer .it--logo {
    float: right;
    width: 200px;
    height: 60px;
    position: relative;
    top: 5px;
    background-position: right center;
}
#it--footer .it--slogan {
    display: none;
}
#it--footer .it--description {
    margin-top: 20px;
    width: 50%;
    font-size: 80%;
    margin-left: 10px;
}

.pagecontainer > table {
    padding: 20px;
}

.pagecontainer #it--footer {
    display: none;
}
table.v4acpcont {
    background: #fff;
    margin-bottom: 0;
    padding: 10px 20px 20px;
border-top: 2px solid #9dabbf;
}

.pagecontainer .it--logo {
    background-color: rgba(0,0,0,.2);
}
.pagecontainer #it--header .it--slogan {
    width: 25%;
    left: 20px;
}

/** Promo banner **/
#storercp::before { 
    background-image: url(/zetomad/ebay_product_style/master/img/copyright_best78.png);
    content: ' ';
    height: 60px;
    width: 100%;
    position: relative;
    display: block;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 870px;
    background-color: #b3b2b2;
}

.v4acp_head .v4accent,
.v4mid .ttl {
    display: none;
}
table.v4midBox{
    border: none;
}
table.v4acp tr.v4acp_head td.v4title {
    background: #fff;
    color: #000;
    display: block;
    padding: 5px 0;
}
table.v4midBox tr.v4acp_mid td.v4mid {
    background: #fff;
    padding: 0;
}
table.v4clp td ul {
    margin: 0;
}
body a:link, body .g-novisited a:visited,
.v4mid a {
    color: #000;
    font-weight: normal;
}
table.v4clp td {
    padding-top: 0;
}
.v4mid li {
    margin: 2px 0;
    list-style: none;
}
.v4acp font {
    color: #000;
}
.r3_t i, .r3_bl i,
.r3_hm, .r3_c, .r3_s {
    border: none;
}
.ctrlbr {
    border: none;
    padding: 10px 0;
    margin-top: -1.5em;
}
td#CentralArea span.pdmt {
    float: right;
    padding: 0;
}
span.pdmt .cur {
    color: #000;
border: 1px solid #9dabbf;
height: 20px;
line-height: 20px;
font-weight: normal;
display: inline-block;
padding: 0 5px;
}

.grid td.left,
.rs_box,
td#CentralArea div.dynpg {
    border: none;
}
span.pdmt:after {
    display: inline-block;
    content: '⌄';
    width: 22px;
    height: 22px;
    line-height: 19px;
background: #9dabbf;
color: #fff;
text-align: center;
font-weight: normal;
vertical-align: top;
font-size: 14px;
}
.fpcc .countClass {
    color: #000;
    font-size: 14px;
    font-weight: normal;
}

table.gallery td.details {
    border-top: 1px solid #ddd;
}

.grid {
    text-align: right;
}

.grid td.gallery {
    display: inline-block;
    padding: 7px 0 7px 20px;
    width: 31%;
    vertical-align: top;
    position: relative;
    text-align: left;
}
table.gallery {
    height: 330px;
    background: #fff;
    position: relative;
    display: block;
}
.grid td.gallery:first-child {
    margin-left: 0;
}

table.gallery td.picture div.image a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 10;
}

.ttl.g-std {
    padding: 5px 0;
}
.bin.g-b, .bid.g-b {
    font-size: 120%;
    font-weight: bold;
    position: absolute;
    text-align: right;
    width: 40%;
    right: 15px;
    bottom: 10px;
}

.bin {
    width: 30%;
    position: absolute;
    right: 0px;
}

.ttl.g-std a {
    color: #000;
    font-size: 110%;
}
.picture.camera .image {
    width: 100%;
}
.picture.camera .image img {
    max-width: 100%;
    max-height: 150px;
}
